.section-body {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.company__list {
    display: inline-flex;
    animation: marquee 20s linear infinite;
    gap: 5px;
}

.company__item {
    display: inline-block;
    margin-right: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
