<!-- <div class="container" style="padding: 10px;">
    <div class="card bg-dark text-white">
        <img src="https://d1vwxdpzbgdqj.cloudfront.net/home-new-variant/blue-banner-bg.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
</div> -->
<section class="section company-section gl-grid">
    <div class="section-head" style="padding: 20px; text-align: center;" >
        <h2 class="company-section_title">Join Educast alumni at top-tier companies</h2>
    </div>
    <div class="section-body company-section__body">
        <div class="marquee">
            <ul class="company__list">
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/cognizant.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/cognizant.png" alt="cognizant" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/adobe.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/adobe.png" alt="adobe" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/dell.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/dell.png" alt="dell" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/infosys.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/infosys.png" alt="infosys" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/hp.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/hp.png" alt="hp" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/accenture.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/accenture.png" alt="accenture" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/ibm.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/ibm.png" alt="ibm" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/maersk.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/maersk.png" alt="maersk" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/microsoft.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/microsoft.png" alt="microsoft" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/oracle.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/oracle.png" alt="oracle" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/amazon.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/amazon.png" alt="amazon" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/intel.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/intel.png" alt="intel" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/google.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/google.png" alt="google" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper mb-2">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/charted.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/charted.png" alt="charted" title="company logo" data-loaded="true">
                    </div>
                </li>
            </ul>
        </div>
        <!-- Repeat the marquee container to create a seamless effect -->
        <!-- <div class="marquee">
            <ul class="company__list">
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/cognizant.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/cognizant.png" alt="cognizant" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/adobe.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/adobe.png" alt="adobe" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/dell.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/dell.png" alt="dell" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/infosys.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/infosys.png" alt="infosys" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/hp.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/hp.png" alt="hp" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/accenture.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/accenture.png" alt="accenture" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/ibm.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/ibm.png" alt="ibm" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/maersk.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/maersk.png" alt="maersk" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/microsoft.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/microsoft.png" alt="microsoft" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/oracle.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/oracle.png" alt="oracle" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/amazon.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/amazon.png" alt="amazon" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/intel.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/intel.png" alt="intel" title="company logo" data-loaded="true">
                    </div>
                </li>
                <li class="company__item">
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/google.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/google.png" alt="google" title="company logo" data-loaded="true">
                    </div>
                    <div class="company__image-wrapper">
                        <img class="company__image lazy gl-lazy-loaded fadeIn" data-src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/charted.png" src="https://d1vwxdpzbgdqj.cloudfront.net/images/intl-homepage/company/charted.png" alt="charted" title="company logo" data-loaded="true">
                    </div>
                </li>
            </ul>
        </div> -->
    </div>
</section>
