

<div class="container">
    <section class="py-8 lg:!py-14 bg-body-secondary" id="product">
        <div class="px-4 md:!px-6 max-w-[1248px] xl:!mx-auto">
            <header class="flex justify-center items-center mb-16">
                <div>
                    <div style="width:100px;height:100px;overflow:hidden;margin:0 auto;outline:none;cursor:default" title=""
                        role="button" aria-label="animation" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1920" width="1920" height="1920"
                            preserveAspectRatio="xMidYMid slice"
                            style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible; ">
                            <defs>
                                <clipPath id="__lottie_element_2">
                                    <rect width="1920" height="1920" x="0" y="0"></rect>
                                </clipPath>
                                <clipPath id="__lottie_element_4">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_12">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_20">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_28">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_36">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#__lottie_element_2)">
                                <g clip-path="url(#__lottie_element_36)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                    style="display: block;">
                                    <g transform="matrix(9.934852600097656,0,0,9.934852600097656,-1029.4541015625,-1009.5848999023438)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_28)" style="display: block;"
                                    transform="matrix(0.18821999430656433,0,0,0.18821999430656433,533.582763671875,443.5508117675781)"
                                    opacity="1">
                                    <g transform="matrix(9.873126029968262,0,0,9.873126029968262,-1017.09326171875,-997.34765625)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_20)" style="display: block;"
                                    transform="matrix(0.342629998922348,0,0,0.342629998922348,941.3702392578125,475.980224609375)"
                                    opacity="1">
                                    <g transform="matrix(9.58392333984375,0,0,9.58392333984375,-959.1805419921875,-940.0130615234375)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_12)" style="display: block;"
                                    transform="matrix(0.3700000047683716,0,0,0.3700000047683716,294.6319580078125,928.6950073242188)"
                                    opacity="1">
                                    <g transform="matrix(9.019988059997559,0,0,9.019988059997559,-846.2523803710938,-828.212890625)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_4)" style="display: block;"
                                    transform="matrix(0.29210999608039856,0,0,0.29210999608039856,828.1853637695312,902.4164428710938)"
                                    opacity="1">
                                    <g transform="matrix(7.929713726043701,0,0,7.929713726043701,-627.9251098632812,-612.0660400390625)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg></div>
                </div>
                <div>
                    <h2
                        class="text-[22px] md:!text-[32px] leading-8 md:!leading-10 font-bold text-center w-full md:!w-auto text-gray-900 pb-4" >
                        Explore Our Ecosystem</h2>
                    <h6 class="!text-base md:!text-lg leading-6 md:!leading-[26px] font-light text-gray-650 text-center">A
                        one-stop destination for all your learning to placement needs</h6>
                </div>
                <div>
                    <div style="width:100px;height:150px;overflow:hidden;margin:0 auto;outline:none;cursor:default" title=""
                        role="button" aria-label="animation" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1920" width="1920" height="1920"
                            preserveAspectRatio="xMidYMid slice"
                            style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                            <defs>
                                <clipPath id="__lottie_element_44">
                                    <rect width="1920" height="1920" x="0" y="0"></rect>
                                </clipPath>
                                <clipPath id="__lottie_element_46">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_54">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_62">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_70">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                                <clipPath id="__lottie_element_78">
                                    <path d="M0,0 L1920,0 L1920,1920 L0,1920z"></path>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#__lottie_element_44)">
                                <g clip-path="url(#__lottie_element_78)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                                    style="display: block;">
                                    <g transform="matrix(9.934852600097656,0,0,9.934852600097656,-1029.4541015625,-1009.5848999023438)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_70)" style="display: block;"
                                    transform="matrix(0.18821999430656433,0,0,0.18821999430656433,533.582763671875,443.5508117675781)"
                                    opacity="1">
                                    <g transform="matrix(9.873126029968262,0,0,9.873126029968262,-1017.09326171875,-997.34765625)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_62)" style="display: block;"
                                    transform="matrix(0.342629998922348,0,0,0.342629998922348,941.3702392578125,475.980224609375)"
                                    opacity="1">
                                    <g transform="matrix(9.58392333984375,0,0,9.58392333984375,-959.1805419921875,-940.0130615234375)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_54)" style="display: block;"
                                    transform="matrix(0.3700000047683716,0,0,0.3700000047683716,294.6319580078125,928.6950073242188)"
                                    opacity="1">
                                    <g transform="matrix(9.019988059997559,0,0,9.019988059997559,-846.2523803710938,-828.212890625)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                                <g clip-path="url(#__lottie_element_46)" style="display: block;"
                                    transform="matrix(0.29210999608039856,0,0,0.29210999608039856,828.1853637695312,902.4164428710938)"
                                    opacity="1">
                                    <g transform="matrix(7.929713726043701,0,0,7.929713726043701,-627.9251098632812,-612.0660400390625)"
                                        opacity="1" style="display: block;">
                                        <g opacity="1" transform="matrix(1,0,0,1,200.25,200.25)">
                                            <path fill="rgb(255,199,9)" fill-opacity="1"
                                                d=" M0,-27.5 C0,-27.5 0,0 -27.5,0 C0,0 0,27.5 0,27.5 C0,27.5 0,0 27.5,0 C0,0 0,-27.5 0,-27.5z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg></div>
                </div>
            </header>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center gx-4">
                <div class="col-md-5">
                    <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="../Assets/vision.jpg"></div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="ms-md-2 ms-lg-5">
                        <!-- <span class="text-muted">Our Story</span> -->
                        <h2 class="display-5 fw-bold" style="color: rgb(23, 201, 94);">Our Vision</h2>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                        <p class="lead mb-0">Our Vision is to democratise technology education while making it easy, practical and
                            affordable. Thus our vision is to help learners get all of their specific learning needs
                            under one subscription</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center gx-4">
                
                <div class="col-md-6 offset-md-1">
                    <div class="ms-md-2 ms-lg-5">
                        <!-- <span class="text-muted">Our Story</span> -->
                        <h2 class="display-5 fw-bold" style="color: rgb(199, 128, 250);">Who is this for?</h2>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                        <p class="lead mb-0">Individuals who take their career seriously, E-Learning is suitable for candidates from
                            tech as well as non tech backgrounds with aspirations to make their next big career
                            transition.
                            Specialised bundles enables you to keep on learning rather than investing individually
                            in multiple technologies.
                            Explore the worlds most affordable learning medium.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="../Assets/TargetAudience.jpg"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center gx-4">
                <div class="col-md-5">
                    <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="../Assets/Features.jpg"></div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="ms-md-2 ms-lg-5">
                        <!-- <span class="text-muted">Our Story</span> -->
                        <h2 class="display-5 fw-bold" style="color: rgb(94, 146, 174);">E-Learning Features</h2>
                        <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p> -->
                        <p class="lead mb-0">Access to Job portal, virtual labs, Internship portal and exclusive access to support
                            community.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- <app-about-card></app-about-card> -->
    <!-- <app-card-container></app-card-container> -->
</div>

