<div class="container-fluid py-2">
    <h2 class="font-weight-light">Enhance your skills with these Technologies</h2>
    <div class="scroll-container-wrapper">
      <div class="scroll-container">
        
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
      </div>
    </div>
  </div>
  

    <div class="container">

        <div class="header">
          <h1> Upcoming Live Courses </h1>
        </div>
        
      <table class="table table-success table-hover" border="2">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Course</th>
            <th>Date</th>
            <th>Faculty</th>
            <th>Duration</th>
            <th>Price</th>
            </tr>
         </thead>
       <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.courseTitle }}</td>
            <td>{{ course.upcomingCourseDate }}</td>
            <td>{{ course.courseLecturer }}</td>
            <td>{{ course.duration }}</td>
            <td>{{ course.courseFees }}</td>
            </tr>
          </tbody>
      </table>
      </div>
   
  