
<div class="dropdown">
  <a class="nav-link dropdown-toggle" 
    href="#" 
    id="coursesDropdown" 
    role="button" 
    data-bs-toggle="dropdown"
    aria-expanded="false">
     Courses
  </a>
  <ul class="dropdown-menu" aria-labelledby="coursesDropdown">
    <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" 
        href="#" 
        id="webDevDropdown" 
        role="button" 
        data-bs-toggle="dropdown"
        aria-expanded="false">
         Web Development
      </a>
      <ul class="dropdown-menu" aria-labelledby="webDevDropdown">
        <li><a class="dropdown-item" href="#">HTML</a></li>
        <li><a class="dropdown-item" href="#">CSS3</a></li>
        <li><a class="dropdown-item" href="#">Javascript</a></li>
      </ul>
    </li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
