<div class="container-fluid py-2">
    <h2 class="font-weight-light">Enhance your skills with these Technologies</h2>
    <div class="scroll-container-wrapper">
      <div class="scroll-container">
        <!-- Card -->
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
        <app-card1></app-card1>
      </div>
    </div>
  </div>
  