

<div class="container bg-body-secondary">
    <div class="row">
        <div class="form col-md-6">
            <h1 style="color:darkcyan; text-align: center;">Sign Up</h1>
            <form #signupForm="ngForm" (ngSubmit)="save(signupForm.value, signupForm.form.valid)" novalidate>
              <div class="form-group">
                <label for="fname">First Name:</label>
                <input 
                  type="text" 
                  id="fname" 
                  name="fname" 
                  [(ngModel)]="user.fname"
                  class="form-control"  
                  #fname="ngModel" 
                  required 
                  
                />
                <small [hidden]="fname.valid || (fname.pristine && !signupForm.submitted)">
                    First Name is required.
                </small>
              </div>
          
              <div class="form-group">
                <label for="lname">Last Name:</label>
                <input 
                  type="text" 
                  id="lname" 
                  name="lname" 
                  [(ngModel)]="user.lname"
                  class="form-control"  
                  #lname="ngModel"
                  required
                />
                <small [hidden]="lname.valid || (lname.pristine && !signupForm.submitted)">
                    Last Name is required.
                </small>
              </div>
          
              <div class="form-group">
                <label>Gender:</label>
                <div>
                  <input 
                    type="radio" 
                    id="male" 
                    name="gender" 
                    value="Male" 
                    [(ngModel)]="user.gender" 
                    #gender="ngModel" 
                    required
                  />
                  <label for="male">Male</label>
                  <input 
                  type="radio" 
                  id="female" 
                  name="gender" 
                  value="Female" 
                  [(ngModel)]="user.gender" 
                  #gender="ngModel" 
                  required
                  />
                  <label for="female">Female</label>
                </div>
                <!-- <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="invalid-feedback">
                  Gender is required.
                </div> -->
                <small [hidden]="gender.valid || (gender.pristine && !signupForm.submitted)">
                    Gender is required.
                </small>
              </div>
          
              <div class="form-group">
                <label for="email">Email:</label>
                <input 
                  type="email" 
                  id="email" 
                  name="email" 
                  class="form-control" 
                  [(ngModel)]="user.email" 
                  #email="ngModel" 
                  required
                />
                <small [hidden]="email.valid || (email.pristine && !signupForm.submitted)">
                    A valid email is required.
                </small>
              </div>
          
              <div class="form-group">
                <label for="password">Password:</label>
                <input 
                  type="password" 
                  id="password" 
                  name="password" 
                  class="form-control" 
                  [(ngModel)]="user.password" 
                  #password="ngModel" 
                  required
                />
                <small [hidden]="password.valid || (password.pristine && !signupForm.submitted)">
                    Password is required.
                </small>
              </div>
          
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input 
                  type="password" 
                  id="confirmPassword" 
                  name="confirmPassword" 
                  class="form-control" 
                  [(ngModel)]="user.confirmpassword" 
                  #confirmPassword="ngModel" 
                  required
                />
                <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !signupForm.submitted)">
                    Confirm Password is required.
                </small>
              </div>
          
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="terms" ngModel name="terms" required>
                <label class="form-check-label" for="terms">Agree to our <a href="t">Terms and Conditions</a></label>
                <div *ngIf="signupForm.controls['terms']?.invalid && signupForm.controls['terms']?.touched" class="invalid-feedback">
                  You must agree to the terms and conditions.
                </div>
              </div>
          
              <div class="signUP-button form-group">
                <button type="submit" class="btn btn-primary" >Sign up</button>
              </div>
          
              <div class="form-group">
                <p>FirstName: {{signupForm.value.fname}}</p>
                <p>LastName: {{signupForm.value.lname}}</p>
                <p>Gender: {{signupForm.value.gender}}</p>
                <p>Email: {{signupForm.value.email}}</p>
                <!-- {{signupForm.value | json}} -->
              </div>
            </form>
        </div>
        <div class="col-md-6" style="margin-top: 5%;">
            <img src="../Assets/images/Mobile-login.jpg" alt="" width="100%" height="auto">
        </div>
    </div>
    
  </div>
  